<div class="form-row">
    <div class="form-item">
        <label>TItle</label>
        <!--name is what allows us to say body.name on the server to access it-->
        <input type="text" name="title" value= <%= book.title %> >
        <!--the < % = tells the page to output js as html-->
    </div>
    <div class="form-item">
        <label>Author</label>
        <select name="author">
        <% authors.forEach(author => { %>
            
            <% if(author.id === book.author) { %> 
                <option selected label="<%= author.name %>" value ="<%=author.id %>"></option>
            <% } else { %>
                <option label="<%= author.name %>" value ="<%=author.id %>"></option>
            <% } %>
            
        <% }) %>
        </select>
        <!--book.author IS an id in the book schema-->
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Publish Date</label>
        <input type="date" name="publishDate" 
        value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Page Count</label>
    <input type="number" name="pageCount" min="1" 
    value="<%= book.pageCount %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="book-cover filepond">
    </div>
    <div class="form-item">
        <label>Description</label> 
        <!--textarea allows enter button-->
        <textarea name="Description"> <%= book.description %> </textarea>
    </div>
</div>






